#container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}

#display {
    display: flex;
    background-color: lightgray;
    font: 48px TI-83;
    border-color: green;
    border-style: solid;
    border-width: 2px;
    justify-content: flex-end;
}

#grid {
    display: flex;
    flex-direction: row;
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

#numbers {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}

#calcs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

button {
    display: flex;
    min-width: 80px;
    flex: 1 1 80px;
    justify-content: center;
    align-items: center;
}